<style>
  .chartMenu {
    width: 100vw;
    height: 40px;
    color: rgba(54, 162, 235, 1);
  }
  .chartCard {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
  }
</style>

<div class="chartCard">
  <div class="chartBox">
    <canvas id="myChart"></canvas>
  </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // setup
  const data = {
    labels: [{% for val in chart.labels %} '{{ val }}' {% endfor %}],
    datasets: [
      {
        label: "Expected GPA",
        data: [{% for val in chart.expected %}{{ val }},{% endfor %}],
        backgroundColor: ["rgba(255, 26, 104, 0.2)"],
        borderColor: ["rgba(255, 26, 104, 1)"],
        borderWidth: 1,
      },
      {
        label: "Actual GPA",
        data: [{% for val in chart.obtained %}{{ val }},{% endfor %}],
        backgroundColor: ["rgba(255, 159, 64, 0.2)"],
        borderColor: ["rgba(255, 159, 64, 1)"],
        borderWidth: 1,
      },
      {
        label: "CGPA",
        data: [{% for val in chart.cgpa %}{{ val }},{% endfor %}],
        backgroundColor: ["rgba(255, 159, 64, 0.2)"],
        borderColor: ["rgba(255, 159, 64, 1)"],
        borderWidth: 1,
      },
    ],
  };

  // config
  const config = {
    type: "bar",
    data,
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  };

  // render init block
  const myChart = new Chart(document.getElementById("myChart"), config);
</script>
