{% extends 'main.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static '/css/dist/msg.css' %}" />

<div class="flex space-x-9 h-screen">
  <div class="bg-skin-sidebar space-y-2 p-2">
    <!-- search bar -->
    <div class="shadow-md shadow-skin-shadow pt-3 pb-2 pl-3 pr-4 rounded-2xl flex place-items-center">
      <button type="submit" class="h-5 w-5">
        <img src="{% static '/img/search-icon.svg' %}'" alt="" />
      </button>
      <div>
        <input class="border-skin-text bg-skin-sidebar h-8 px-5 pr-20 rounded-2xl text-sm focus:outline-none" type="search" name="search" placeholder="Search" />
      </div>
    </div>

    <!-- study Group -->
    <div id="border-group" class="rounded-2xl shadow-md shadow-skin-shadow pt-4 pb-7 pl-3 pr-4 grid justify-between space-y-2">
      <p class="font-bold font-['Roboto'] text-lg text-skin-svg">Study Groups</p>

      <!-- group 1 -->
      {% for c, m, cnt in chat %}
      <a href="{% url 'group_chat' pk=c.id %}">
        <li class="flex space-x-3 justify-between place-items-center pb-2">
          <img class="rounded-full w-8 h-8" src="{% static '/img/Ellipse 3.png' %}" alt="People image" />
          <div class="">
            <p class="font-bold font-['Roboto'] text-skin-svg">{{c.name}}</p>
            <p class="truncate w-36 text-sm text-skin-text font-light">{{m}}</p>
          </div>
          <div class="grid justify-items-end w-40">
            <div>
              <p class="skin-sidebarspace-nowrap text-sm text-skin-text font-light">{{m.date}}</p>
            </div>
            {% if cnt > 0 %}
            <div class="bg-skin-primary rounded-full w-5 h-5 flex justify-center items-center shadow-xl">
              <p class="text-sm text-skin-muted">{{cnt}}</p>
            </div>
            {% endif %}
          </div>
        </li>
      </a>
      {% endfor %}
    </div>

    <!-- people -->
    <div id="border-people" class="rounded-2xl shadow-md shadow-skin-shadow pt-4 pb-7 pl-3 pr-4 grid justify-between space-y-2">
      <p class="font-bold font-['Roboto'] text-lg text-skin-svg">People</p>

      <!-- people 1 -->
      {% for u, m in private %}
      <li class="flex space-x-3 justify-between place-items-center pb-2">
        <img class="rounded-full w-8 h-8" src="static/img/avatar/ashan.png" alt="People image" />
        <div>
          <p class="font-semibold font-['Roboto'] text-skin-svg">{{u.first_name}} {{u.last_name}}</p>
          <p class="truncate w-36 text-sm text-skin-text font-light">{{m}}</p>
        </div>
        <div class="grid justify-items-end w-40">
          <div>
            <p class="skin-sidebarspace-nowrap text-sm text-skin-text font-light">{{m.date}}</p>
          </div>
          <div class="pl-10">
            <img src="static/img/charm_tick-double.png" alt="" />
          </div>
        </div>
      </li>
      {% endfor %}
    </div>
  </div>

  <section>
    <div>
      <h1>Chat History</h1>
      {% block inboxSection %} {% endblock inboxSection %}
    </div>
  </section>
</div>
{% endblock content %}
