<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <script src="https://kit.fontawesome.com/a676914d6c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Course assistant pro</title>
    
</head>
<body>
    
    <div class="container">

        <div class="flex-container">




            <div class="div1" >
                
                <table >
                    <tr >
                        <td rowspan="3" > <img src="img/kamran.PNG" alt="image not found"> </td>
                        <td ><h3><i>System Analysis & Design </i></h3><br><i><b>CSE 2218</b></nr></td>
                        
                    </tr>
                    <tr >
                        
                        <td > <i style="font-size: 14px">Contributor: Md. Shafiul kamran</i> </td>
                        
                    </tr>
                    <tr >
                        
                        <td >
                            <div class="icon-box">
                                <abbr title="Download Content"><i class="fa-solid fa-download" style="color:#86E385 ;"></i></abbr>
                                <abbr title="Edit"><i class="fa-solid fa-pen-to-square" style="color:#7093F0 ;"></i></abbr>
                                <abbr title="Comment"><i class="fa-solid fa-comments" style="color:#7093F0 ;"></i></abbr>
                                <abbr title="Delete"><i class="fa-solid fa-trash" style="color:#FF1D1D ;"></i></abbr>

                            </div>
                            
                           
                            
                            
                        
                        
                        
                        </td>
                        
                        
                    </tr>
                </table>
               
            </div>






    
            <div class="div2">
                
                <table >
                    <tr >
                        <td rowspan="3" > <img src="img/ahsan.PNG" alt="image not found"> </td>
                        <td ><h3><i>System Analysis & Design </i></h3><br><i><b>CSE 2218</b></nr></td>
                        
                    </tr>
                    <tr >
                        
                        <td > <i style="font-size: 14px">Contributor: Ahsan Khan</i> </td>
                        
                    </tr>
                    <tr >
                        
                        <td >
                            <div class="icon-box">
                                <abbr title="Download Content"><i class="fa-solid fa-download" style="color:#86E385 ;"></i></abbr>
                                <abbr title="Edit"><i class="fa-solid fa-pen-to-square" style="color:#7093F0 ;"></i></abbr>
                                <abbr title="Comment"><i class="fa-solid fa-comments" style="color:#7093F0 ;"></i></abbr>
                                <abbr title="Delete"><i class="fa-solid fa-trash" style="color:#FF1D1D ;"></i></abbr>

                            </div>
                            
                           
                            
                            
                        
                        
                        
                        </td>
                        
                        
                    </tr>
                </table>

            </div>







            <div class="div3" >
                <table >
                    <tr >
                        <td rowspan="3" > <img src="img/amina.PNG" alt="image not found"> </td>
                        <td ><h3><i>System Analysis & Design </i></h3><br><i><b>CSE 2218</b></nr></td>
                        
                    </tr>
                    <tr >
                        
                        <td > <i style="font-size: 14px">Contributor: Amina Afroz</i> </td>
                        
                    </tr>
                    <tr >
                        
                        <td >
                            <div class="icon-box">
                                <abbr title="Download Content"><i class="fa-solid fa-download" style="color:#86E385 ;"></i></abbr>
                                <abbr title="Edit"><i class="fa-solid fa-pen-to-square" style="color:#7093F0 ;"></i></abbr>
                                <abbr title="Comment"><i class="fa-solid fa-comments" style="color:#7093F0 ;"></i></abbr>
                                <abbr title="Delete"><i class="fa-solid fa-trash" style="color:#FF1D1D ;"></i></abbr>

                            </div>
                            
                           
                            
                            
                        
                        
                        
                        </td>
                        
                        
                    </tr>
                </table>

            </div>





    
            <div class="div4" >
                <table >
                    <tr >
                        <td rowspan="3" > <img src="img/ashik.PNG" alt="image not found"> </td>
                        <td ><h3><i>System Analysis & Design </i></h3><br><i><b>CSE 2218</b></nr></td>
                        
                    </tr>
                    <tr >
                        
                        <td > <i style="font-size: 14px">Contributor: Md. Ashik</i> </td>
                        
                    </tr>
                    <tr >
                        
                        <td >
                            <div class="icon-box">
                                <abbr title="Download Content"><i class="fa-solid fa-download" style="color:#86E385 ;"></i></abbr>
                                <abbr title="Edit"><i class="fa-solid fa-pen-to-square" style="color:#7093F0 ;"></i></abbr>
                                <abbr title="Comment"><i class="fa-solid fa-comments" style="color:#7093F0 ;"></i></abbr>
                                <abbr title="Delete"><i class="fa-solid fa-trash" style="color:#FF1D1D ;"></i></abbr>

                            </div>
                            
                           
                            
                            
                        
                        
                        
                        </td>
                        
                        
                    </tr>
                </table>
            </div>




            <div class="div5" >
                
                <table >
                    <tr >
                        <td rowspan="3" > <img src="img/kamran.PNG" alt="image not found"> </td>
                        <td ><h3><i>System Analysis & Design </i></h3><br><i><b>CSE 2218</b></nr></td>
                        
                    </tr>
                    <tr >
                        
                        <td > <i style="font-size: 14px">Contributor: Md. Shafiul kamran</i> </td>
                        
                    </tr>
                    <tr >
                        
                        <td >
                            <div class="icon-box">
                                <abbr title="Download Content"><i class="fa-solid fa-download" style="color:#86E385 ;"></i></abbr>
                                <abbr title="Edit"><i class="fa-solid fa-pen-to-square" style="color:#7093F0 ;"></i></abbr>
                                <abbr title="Comment"><i class="fa-solid fa-comments" style="color:#7093F0 ;"></i></abbr>
                                <abbr title="Delete"><i class="fa-solid fa-trash" style="color:#FF1D1D ;"></i></abbr>

                            </div>
                            
                           
                            
                            
                        
                        
                        
                        </td>
                        
                        
                    </tr>
                </table>
               
            </div>


            <div class="div6" >
                
                <table >
                    <tr >
                        <td rowspan="3" > <img src="img/ahsan.PNG" alt="image not found"> </td>
                        <td ><h3><i>System Analysis & Design </i></h3><br><i><b>CSE 2218</b></nr></td>
                        
                    </tr>
                    <tr >
                        
                        <td > <i style="font-size: 14px">Contributor: Md. Shafiul kamran</i> </td>
                        
                    </tr>
                    <tr >
                        
                        <td >
                            <div class="icon-box">
                                <abbr title="Download Content"><i class="fa-solid fa-download" style="color:#86E385 ;"></i></abbr>
                                <abbr title="Edit"><i class="fa-solid fa-pen-to-square" style="color:#7093F0 ;"></i></abbr>
                                <abbr title="Comment"><i class="fa-solid fa-comments" style="color:#7093F0 ;"></i></abbr>
                                <abbr title="Delete"><i class="fa-solid fa-trash" style="color:#FF1D1D ;"></i></abbr>

                            </div>
                            
                           
                            
                            
                        
                        
                        
                        </td>
                        
                        
                    </tr>
                </table>
               
            </div>

           
            
    
            
        
           
    
        </div>

    </div>
</body>
</html>