{% extends 'main.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static '/css/dist/prCss.css' %}" />

<div class="flex space-x h-auto">
  <div class="space-y-2 p-2">
    <h1>logged in : {{you.first_name}} {{you.last_name}}</h1>

    <!-- search bar start -->
    <div class="shadow-md shadow-skin-shadow pt-3 pb-2 pl-3 pr-4 rounded-2xl flex place-items-center">
      <button type="submit" class="h-5 w-5">
        <img src="{% static '/img/search-icon.svg' %}" alt="" />
      </button>
      <div>
        <input class="border-skin-text bg-skin-sidebar h-8 px-5 pr-20 rounded-2xl text-sm focus:outline-none" type="search" name="search" placeholder="Search" />
      </div>
    </div>
    <!-- search bar end -->

    <!-- private chat contacts -->
    <div id="border-people" class="rounded-2xl shadow-md shadow-skin-shadow pt-4 pb-7 pl-3 pr-4 grid justify-between space-y-2">
      <p class="font-bold font-['Roboto'] text-lg text-skin-svg">Inbox</p>

      <!-- contact box 1-->
      {% for message in messages_list %} {% for us in other_users %} {% if us.pk == message.recipient.pk or us.pk == message.sender.pk %}

      <li class="flex space-x-3 justify-between place-items-center pb-2 cursor-pointer" onclick="location.href='{% url 'chat:inbox' us %}';">
        <!-- user image -->
        <img class="rounded-full w-8 h-8" src="{% static '/img/avatar/ashan.png' %}" alt="People image" />
        <!-- user image end -->

        <!-- user name and message -->
        <div>
          <p class="font-semibold font-['Roboto'] text-skin-svg">{{us.first_name}} {{us.last_name}}</p>
          <p class="truncate w-36 text-sm text-skin-text font-light">{{message.message}}</p>
        </div>
        <!-- user name and message end-->

        <div class="grid justify-items-end w-40">
          <!-- date -->
          <div>
            <p class="skin-sidebarspace-nowrap text-sm text-skin-text font-light">{{message.date|date:"m/d/Y" }}</p>
          </div>
          <!-- date end -->

          <div class="pl-10">
            <img src="{% static '/img/charm_tick-double.png' %}" alt="" />
          </div>
        </div>
      </li>
      <!-- contact box 1 end -->

      {% endif %} {% endfor %} {% endfor %}
    </div>
  </div>

  <section class="">
    {% block inboxSection %}
    <div class="bg-gray-300 h-auto">
      <!-- welcome alert -->
      <div class="flex h-full w-full">
        <div class="bg-slate-400 rounded-md font-medium">
          <!-- image -->
          <img class="flex h-full w-full" src="{% static '/img/welcome_img.png' %}" alt="Welcome" />
          <!-- image end -->
        </div>
      </div>
      <!-- welcome alert end -->
    </div>
    {% endblock inboxSection %}
  </section>
</div>
{% endblock content %}
