{% extends 'main.html' %} {% load static %} {% block head %}
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Profile Page</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link rel="stylesheet" href="{% static '/css/raw_css/user_profile.css' %}?{% now 'dwmYHsu' %}" />
{% endblock head %} {% block content %}

<div class="c">

    <div class="user">
        <p>Cover photo here</p>


        <img src="image/pic_1.jpg" alt="">

    </div>

    <div class="box" style="margin: 0px;">
        <input type="text" placeholder="Name"><br>
        <input type="text" placeholder="Department"><br>
        <input type="text" placeholder="University"><br>
        <input type="text" placeholder="Email">

    </div>


    <div class="container">
        <button class="btn btn1"><i class="fa fa-pencil"></i> Edit profile</button><br>
        <button class="btn btn2" style="margin-top:5px"><i class="fa fa-pencil"></i> Change profile</button>

    </div>
    <div class="flex-container" style="margin-top:50px ;">

        <div class="div1">
            <p>
                <img src="image/amina.PNG" alt="image not found" style="height: 50px;width:50px; border-radius:50%">
            </p>


            <h3> System Analysis & Design</h3>
            <i><b>CSE 2218</b></i><br>
            <i style="font-size: 14px">Contributor: Amina Afroz</i>

            <div class="icon-box">
                <abbr title="Download Content"><i class="fa-solid fa-download" style="color:#86E385 ;"></i></abbr>
                <abbr title="Edit"><i class="fa-solid fa-pen-to-square" style="color:#7093F0 ;"></i></abbr>
                <abbr title="Comment"><i class="fa-solid fa-comments" style="color:#7093F0 ;"></i></abbr>
                <abbr title="Delete"><i class="fa-solid fa-trash" style="color:#FF1D1D ;"></i></abbr>

            </div>


        </div>
        <div class="div1">
            <p>
                <img src="image/amina.PNG" alt="image not found" style="height: 50px;width:50px; border-radius:50%">
            </p>


            <h3> System Analysis & Design</h3>
            <i><b>CSE 2218</b></i><br>
            <i style="font-size: 14px">Contributor: Amina Afroz</i>

            <div class="icon-box">
                <abbr title="Download Content"><i class="fa-solid fa-download" style="color:#86E385 ;"></i></abbr>
                <abbr title="Edit"><i class="fa-solid fa-pen-to-square" style="color:#7093F0 ;"></i></abbr>
                <abbr title="Comment"><i class="fa-solid fa-comments" style="color:#7093F0 ;"></i></abbr>
                <abbr title="Delete"><i class="fa-solid fa-trash" style="color:#FF1D1D ;"></i></abbr>

            </div>


        </div>
    </div>


    <div class="last" style="margin-top: 30px;">
        <button class="btn0 btn3">1</button>
        <button class="btn0 btn4">2</button>
        <button class="btn0 btn5">3</button>
        <button class="btn0 next round">&#8250;</button>

    </div>


</div>

{% endblock content %}
