{% extends 'main.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static '/css/dist/modal.css' %}" />
<link rel="stylesheet" href="{% static '/css/dist/stats.css' %}" />
<!-- Modal for New Trimester -->
<center>
  <button type="submit" onclick="toggleVisibility('open_trimester_creator_window')" class="new-post-btn">
    <b>Create New Trimester</b>
  </button>
</center>

<div id="open_trimester_creator_window" class="hide">
  <div class="modal-content">
    <a href="#" class="close" onclick="toggleVisibility('open_trimester_creator_window')">Close</a>
    <form action="index.php" method="POST">
      <label for="is_trimester_running"> Name </label>
      <input type="text" name="trimester_name" placeholder="Enter Trimester Title" />

      <label class="checkbox-label" for="is_trimester_running">
        <input type="checkbox" value="0" name="is_trimester_running" />
        Currently Running
      </label>

      <label for="trimester_start_date">Start Date </label>
      <input type="date" name="trimester_start_date" />

      <label for="trimester_end_date">End Date </label>
      <input type="date" name="trimester_end_date" />

      <input type="submit" name="submit_trimester" value="Add" />
    </form>
  </div>
</div>

<!-- Modal for Edit Trimester -->
<div class="post-container">
  <br />

  {% if data %} {% for key, val in data.items %}
  <a href="#">
    <div class="post-card">
      <div class="post-text-container">
        <div class="post-title-style">{{ val.name}}</div>
        <span class="post-tag">{{ val.start_date }} - {{ val.end_date }}</span>
        <div class="post-author">Expected CGPA: 0.0</div>
        <div>
          <p class="post-text-style">Actual CGPA: 0.0</p>
        </div>
        <form action="" method="post">
          <input type="hidden" name="t_id" value="#" />
          <input class="post-cm-btn" onclick='toggleVisibility(\"edit-post-popup\")' type="submit" value="Edit" />
          <input class="post-cm-btn" style="margin-left: 0.25rem" onclick='return confirm(\"Are you sure you want to delete this item?\")' type="submit" name="delete" value="Delete" />
        </form>
      </div>
    </div>
  </a>
  {% endfor %} {% else %}
  <center><b>No data found...</b></center>
  {% endif %}
  <br />
</div>

{% endblock content %}
